@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h2 class="text-info">@ViewData["Title"]</h2>
    <p class="text-info">You have successfully logged out of the application.</p>
</header>