@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

	<div class="row">
		<div class="col-md-4">
			<form class="mx-auto width w-50" method="post">
				<h4>Create a new account.</h4>
				<hr />
				<div asp-validation-summary="All" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="Input.Username" class="text-torshia">Username</label>
					<input type="text" class="form-control" id="username" placeholder="Username..." asp-for="Input.Username">
					<span asp-validation-for="Input.Username" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Input.Password" class="text-torshia">Password</label>
					<input type="password" class="form-control" id="password" placeholder="Password..." asp-for="Input.Password">
					<span asp-validation-for="Input.Password" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Input.ConfirmPassword" class="text-torshia">Confirm Password</label>
					<input type="password" class="form-control" id="confirmPassword" placeholder="Confirm password..." asp-for="Input.ConfirmPassword">
					<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Input.Email" class="text-torshia">Email</label>
					<input type="email" class="form-control" id="email" placeholder="Email..." asp-for="Input.Email">
					<span asp-validation-for="Input.Email" class="text-danger"></span>
				</div>
				<button type="submit" class="btn btn-primary">Register</button>
			</form>
		</div>
	</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
