@model IEnumerable<CDGBulgaria.Web.ViewModels.Question.QuestionViewModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
	ViewData["Title"] = "All";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center text-info">All Questions</h2>
<hr class="hr-2 bg-primary mx-auto">
<table class="table">
	<thead>
		<tr class="row text-primary text-center bg-full-white font-weight-bold">
			<th class="col-md-6 h5">Question</th>
			<th class="col-md-2 h5">Username</th>
			<th class="col-md-2 h5">Date time</th>
			<th class="col-md-2 h5">Answers</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var question in Model)
		{

		<tr class="row text-left bg-primary font-weight-bold">
			<td class="col-md-6 h6">@question.Content</td>
			<td class="col-md-2 h7 text-center">@question.AuthorUserName</td>
			<td class="col-md-2 h7 text-center">@question.CreatedOn?.ToString("dd/MM/yyyy HH:mm")</td>
			<td class="col-md-2 h7">
				<div class="container">
					<a href="@Url.Action("All","Answers", new {id=question.Id})"
					   class="btn btn-primary btn-lg">Answers</a>				
				</div>

			</td>
		</tr>
		}
	</tbody>
</table>
<hr class="hr-2 bg-primary mx-auto">
