@model IEnumerable<CDGBulgaria.Web.ViewModels.Question.QuestionViewModel>

@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table">
	<thead>
		<tr class="row text-primary text-center font-weight-bold">
			<th class="col-md-6 h5">Content</th>
			<th class="col-md-2 h5">Author</th>
			<th class="col-md-2 h5">CreatedOn</th>
			<th class="col-md-2 h5">Answers</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var question in Model)
		{
			
		<tr class="row text-left font-weight-bold">
			<td class="col-md-6 h6">@question.Content</td>
			<td class="col-md-2 h7 text-center">@question.AuthorUserName</td>
			<td class="col-md-2 h7 text-center">@question.CreatedOn.ToString("dd/MM/yyyy HH:mm")</td>
			<td class="col-md-2 h7">
				<div class="container">
					<button type="button" class="btn btn-danger text-center" asp-action="/Answers/All">Answers</button>
				</div>
			</td>
		</tr>
			}
		</tbody>
</table>
<hr class="hr-2 bg-primary mx-auto">
