
@{
	ViewData["Title"] = "About";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


	<div class="text">
		<h2 class="display-4 text-center text-info">What is CDG?</h2>
		<hr class="text-dark text-center w-50">
		<p>
			Welcome to our CDG community! You may have just learned that one of your family members has CDG. You may be a support person for a family affected by CDG. You may be a professional taking care of a patient with CDG. CDG can be confusing for anyone. We hope this page helps you understand CDG better. Improved understanding of CDG will help you to better love and care for a person with CDG.
			CDG stands for Congenital Disorders of Glycosylation. CDG is a large group of rare inherited diseases affecting glycosylation.
		</p>
	</div>
<div class="text">
	<h2 class="display-4 text-center text-info">What is Glycosylation?</h2>
	<hr class="text-dark text-center w-50">
	<p>
		Glycosylation is the process of adding sugar building blocks (also called glycans) to proteins. Even though glycans are made of many sugars this is not related to blood sugar levels or diabetes. People with CDGs have health concerns because their bodies cannot properly add sugar building blocks to proteins. Every part of the body requires glycosylation to work normally, which explains the many different health problems that affect people with CDG. For Bulgarian read: <a class="text-info font-weight-bold" href="~/images/cdg_poster_01_bulgarian_a2.compressed.pdf">Bulgarian info</a>
	</p>
</div>


<div class="text">
	<h2 class="display-4  text-center text-info">What is the history of CDG?</h2>
	<hr class="text-dark text-center w-50">
	<p>We have only known about CDGs since the 1980s. Each type of CDG is individually rare, so medical experience with CDG remains limited. Most physicians have not had any personal experience with CDGs.</p>
</div>

<div class="text">
	<h2 class="display-4 text-center text-info">Diagnosys of CDG?</h2>
	<hr class="text-dark text-center w-50">
	<p>
		At CDG CARE we believe that a diagnosis of CDG should be considered in every undiagnosed individual with unexplained symptoms affecting multiple body systems or single health problems that are not otherwise explained. While CDGs are rare, we believe that there are many undiagnosed and misdiagnosed patients. CDG patients are often misdiagnosed because their symptoms resemble other disorders. They may initially be diagnosed with cerebral palsy or a different genetic disorder.

		There are over 400 genes in the human genome with roles in glycosylation. Only around 130 of these genes are known to cause CDG. Through the efforts of doctors, scientists, and parents, new types of CDG are discovered every year. Physicians and researchers who specialize in CDG are ready to help patients determine if they have a diagnosis of CDG. With still many CDG types to find, the true number of CDG patients remains unknown.

		Having multiple unexplained health concerns should raise the possibility of CDG. Physicians should suspect CDG in children who present with the following signs and symptoms:
		<ul>
			<li>hypotonia (low muscle tone)</li>
			<li>failure to thrive (slow growth)</li>
			developmental delay
			<li> hepatopathy (liver disease) presenting as elevated liver enzymes (ALT and AST)</li>
			<li>coagulopathy (bleeding tendencies early on and abnormal clotting as adults)</li>
			<li>esotropia (crossed eyes)</li>
			<li>seizures</li>
			<li>cerebellar hypoplasia (changes in the brain that can be seen on brain imaging)</li>
		</ul>


		At a later age, adolescence or adulthood, affected individuals may have these additional clinical features:
		<ul>
			<li>ataxia (poor balance and movement coordination)</li>
			<li>dysarthria (slurred speech)</li>
			<li>absent puberty in females</li>
			<li>retinitis pigmentosa (pigment in back of the eye)</li>
			<li>progressive scoliosis (curvature of the spine)</li>
			<li>joint contractures</li>
		</ul>
	</p>
</div>
<div>
	<partial name="_AdminInfo"/>
</div>

