
@{
	ViewData["Title"] = "Types";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

	<div class="text">
		<h3 class="display-4 text-center text-danger">How many types of CDG are there?</h3>
		<hr class="text-danger text-center w-50">
		<p>
			Over 130 different genes have been determined to cause CDG. Through the efforts of doctors, scientists, and parents, new types of CDG are discovered every year. The most recently discovered CDG types may only have 1 or 2 patients currently identified. CDG types are grouped together into larger groups based on the sugar building blocks affected. Individuals in these groups have similar medical concerns. These groups include N-linked, Combined N- and O-linked, O-linked, alpha-dystroglycanopathies, GPI-anchor synthesis defects, and glycosaminoglycan disorders. Click on a link below to learn more about the different categories and types of CDGs.

			N-linked CDG is the largest group and is divided into type I and type II groups. These groups are based on the pattern of abnormal sugar building blocks observed on a particular protein, transferrin.

			N-linked, type I. N-linked type I CDGs typically have gene defects that affect sugar building block pathways in a portion of the cell known as the endoplasmic reticulum (ER). This is the area of the cell where new proteins are made. The transferrin pattern is the result of failure to attach entire N-linked sugar building block groups to the protein. PMM2-CDG is the most common CDG type and is a Type I CDG. Mild N-linked type I CDG patients may have isolated developmental delay. The more severe patients will have many health concerns. These health concerns can include difficulty gaining weight, low protein levels, abnormal blood coagulation, ascites, pericardial effusions, liver dysfunction, and seizures.
			<ul>
				<li><a href="http://www.apcdg.com/uploads/4/1/1/9/41196831/cdg_p_2.1_a2_ing_comp.pdf" class="text-info">PMM2-CDG</a></li>

				<li><a href="http://www.apcdg.com/uploads/4/1/1/9/41196831/cdg_poster_3_a2_ing.pdf" class="text-info">MPI-CDG</a></li>

				<li><a href="http://www.apcdg.com/uploads/4/1/1/9/41196831/gmppa-cdg_a2_poster_final.pdf"class="text-info">GMPPA-CDG</a></li>

				<li><a href="http://www.apcdg.com/uploads/4/1/1/9/41196831/pgm1-cdg_a2_poster_v03.pdf" class="text-info">PGM1-CDG</a></li>
			</ul>
			N-linked, type II. N-linked type II CDGs typically have gene defects that affect remodeling of sugar building blocks. This remodeling process occurs in a portion of the cell known as the Golgi apparatus. The transferrin pattern is the result of failure to remodel the N-linked sugar building block groups that were added in the ER. There is a similar range of severity associated with N-linked type II CDG as for type I CDG.
			     <ul>
				<li><a href="http://www.apcdg.com/uploads/4/1/1/9/41196831/man1b1-cdg_a2_poster_v04.pdf" class="text-info"> MAN1B1-CDG</a></li>
				</ul>


				Combined N- and O-linked. Combined N- and O- linked CDGs have gene defects that affect remodeling of sugar building blocks in the Golgi apparatus. These can result in a type II CDG pattern. The genes in this group do not specifically modify N-linked sugar building blocks. Instead, they are involved in normal function of the Golgi apparatus. Defects in normal Golgi functioning also affect O-linked sugar building blocks, resulting in the combined defects. There is a wide range of severity of medical problems associated with combined N-and O- linked CDG types.

				O-linked. O-linked CDG is a much smaller group of disorders than N-linked CDG. O-linked CDG frequently has a limited set of specific medical concerns isolated to one or a few body systems. O-linked CDG frequently may have no detectable abnormalities on blood tests.
				Alpha dystroglycanopathies. Alpha dystroglycanopathies are a subset of O-linked CDG that affect the addition of a specific sugar building block, mannose, to a specific protein, alpha-dystroglycan. Alpha dystroglycanopathies can affect the eyes, muscles, and brain. More mild forms of alpha dystroglycanopathies may only affect the muscles, resulting in weakness that is not apparent until adulthood.

				GPI-anchor synthesis defects. GPI-anchor synthesis defects affect the ability of the body to create a GPI (glycosylphosphatidylinositol) anchor. These anchors are used to attach specific proteins to cells. Many different genes can cause GPI-anchor defects. Most of these start with “PIG” named after the compound (phosphatidylinositol glycan) that becomes the GPI anchor. Most people with GPI-anchor CDG have severe seizures and some can have birth defects.

				<ul>
					<li>
						<a href="http://www.apcdg.com/uploads/4/1/1/9/41196831/pign-cdg_a2_poster_v03.pdf" class="text-info">PIGN-CDG</a>
					</li>
				</ul>

				Glycosaminoglycan synthesis defects. Glycosaminoglycans (GAGs) are long structures made up of repeating patterns of two different sugars that form structures for our connective tissue. GAG synthesis defects should be suspected in patients with a combination of affected connective tissue types: bone and cartilage (shorter bones than expected, scoliosis), ligaments (joint laxity/dislocations), and sub epithelial (skin, eyes). GAG synthesis defects can be detected with genetic testing, analysis of GAGs, and specific enzyme assays.
		</p>
	</div>

	<div>
		<partial name="_AdminInfo" />
	</div>



