
@{
	ViewData["Title"] = "Therapies";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text">
	<h4 class="display-4 text-center text-info">Standard Therapies</h4>
	<hr class="text-danger text-center w-50">
	<p>
		The first step each family should take after receiving a diagnosis of CDG is to join our CDG family support groups. The links to our current CDG Facebook groups and pages can be found on our CDG CARE homepage. Newly diagnosed families should also join <span class="text-info font-weight-bold">CDG Connect: </span><a class="text-info font-weight-bold" href="https://connect.invitae.com/org/cdg">https://connect.invitae.com/org/cdg</a>, which is the global registry for CDG patients.
		<br />
		<br />
		The treatment of most forms of CDG is directed toward the specific symptoms that are apparent in each individual. Treatment may require the coordinated efforts of a team of specialists. Pediatricians, neurologists, surgeons, cardiologists, speech pathologists, ophthalmologists, gastroenterologists, and other healthcare professionals may need to systematically and comprehensively plan an affect child’s treatment.
		<br />
		<br />
		The specific therapeutic procedures and interventions for individuals with a CDG will vary, depending upon numerous factors including the specific symptoms present, the severity of the disorder, an individual’s age and overall health, and tolerance of certain medications or procedures. Decisions concerning the use of particular therapeutic interventions should be made by physicians and other members of the healthcare team in careful consultation with the patient and/or parents based upon the specifics of his or her case; a thorough discussion of the potential benefits and risks including possible side effects and long-term effects; patient preference; and other appropriate factors.
		<br />
		<br />
		Although there is no specific therapy for most forms of CDG, three disorders have an existing therapy.
		<br />
		<br />
		Individuals with MPI-CDG are treated with oral mannose. This therapy bypasses the underlying genetic defect in glycosylation that causes the disorder. Some individuals have experienced a near complete resolution of symptoms following mannose therapy. This therapy is life-saving, but close monitoring of affected individuals is required because so few individuals have been diagnosed (and thus treated) for MPI-CDG.
		<br />
		<br />
		Some individuals with SLC35C1-CDG (CDG-IIc) have been treated with fucose. This therapy depends upon the nature of the underlying mutation of the SLC34C1 gene. Fucose therapy can be beneficial in treating recurrent infections associated with this form of CDG and improving health. However, fucose therapy does not help with other symptoms of this disorder.
		<br />
		<br />
		Some individuals with PIGM-CDG have been treated with butyrate, which increases the transcription of PIGM and is able to help manage seizures associated with this form of CDG.
		<br />
		<br />
		Symptomatic therapies are common for infants and children with CDG including nutritional supplements to ensure maximum caloric intake. In addition, some children may require the insertion of a tube through a small surgical opening in the stomach (gastrostomy) or a tube through the nose, down the esophagus and into the stomach (nasogastric tube). Many children with a CDG develop persistent vomiting and dysfunction of oral motor skills, which involve the muscles of the face and throat. A variety of therapies may be necessary to ensure proper feeding including agents to thicken food, antacids, and maintaining an upright position when eating. Maintaining proper nutrition and caloric intake is critical for infants with chronic disorders and often a particular challenge for infants and children with CDG.
		<br />
		<br />
		Early developmental intervention is important to ensure that affected children reach their potential. Most affected children will benefit from occupational, physical and speech therapy. Additional medical, social, and/or vocational services including special remedial education may also be beneficial. Ongoing counseling and support for parents is beneficial as well.
		<br />
		Blood clotting abnormalities (coagulopathies) require special attention if affected individuals need surgery, but rarely pose problems during normal daily activities.
		<br />
		Additional therapies for CDG depend upon the specific abnormalities present and generally follow standard guidelines. For example, anti-seizure medications (anti-convulsants) may be used to treat seizures, thyroid hormone may be used to treat hypothyroidism, and surgery may be used to treat certain skeletal malformations.
		<br />
		<br />
		Genetic counseling is important for affected individuals and their families.
	</p>
	<h4 class="display-4 text-center text-info">Investigational Therapies</h4>
	<hr class="text-danger text-center w-50">
	<p>
		Researchers are studying enzyme replacement therapy for the treatment of CDG. Enzyme replacement therapy involves replacing the missing enzyme in individuals who are deficient or lack the particular enzyme in question. Synthetic versions of missing enzymes have been developed and used to treat individuals with a certain form of a related group of disorders known as the lysosomal storage diseases.
		<br />
		<br />
		Gene therapy is also been studied as another approach to therapy for individuals with CDGs or related disorders. In gene therapy, the defective gene present in a patient is replaced with a normal gene to enable the production of the active enzyme and prevent the development and progression of the disease in question. Given the permanent transfer of the normal gene, which is able to produce active enzyme at all sites of disease, this form of therapy is theoretically most likely to lead to a “cure”. However, at this time, there are many technical difficulties to resolve before gene therapy can succeed.
		<br />
		<br />
		While some individuals have significantly deficient levels of a particular enzyme, other individuals may have residual enzyme activity, and thus a milder disease expression. Researchers are seeking ways to boost or improve any residual enzyme activity in such individuals in the hope that it can further decrease symptom severity and progression.
		<br />
		<br />
		Researchers are also studying whether simple pharmacological agents can be developed that would bypass the underlying genetic defect in CDG allowing proper glycosylation to occur. Such agents may increase the production (synthesis) or activity of alternative enzymes that could carry out the functions normally performed by the deficient enzyme in question.
		<br />
		Information on current clinical trials is posted on the Internet at www.clinicaltrials.gov. All studies receiving U.S. government funding, and some supported by private industry, are posted on this government web site.
		<br />
		<br />
		For information about clinical trials being conducted at the NIH Clinical Center in Bethesda, MD, contact the NIH Patient Recruitment Office:
		<br />
		<br />
		Toll-free: (800) 411-1222
		TTY: (866) 411-1010
		Email: <a class="text-info font-weight-bold" href="prpl@cc.nih.gov">prpl@cc.nih.gov</a>
		<br />
		For information about clinical trials sponsored by private sources, in the main, contact:
		<a class="text-info font-weight-bold" href="www.centerwatch.com">www.centerwatch.com</a>

		For information about clinical trials conducted in Europe, contact:
		<a class="text-info font-weight-bold" href="https://www.clinicaltrialsregister.eu/">https://www.clinicaltrialsregister.eu/</a>
	</p>
	<hr class="text-danger text-center w-50">
</div>

<div>
	<partial name="_AdminInfo" />
</div>


