@model IEnumerable<CDGBulgaria.Web.ViewModels.Fact.FactViewModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
	ViewData["Title"] = "Info";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


@foreach (var fact in Model)
{
	<div class="text">
		<h3 class="display-4 text-center text-info">CDG Fact #@fact.Id</h3>
		<hr class="text-info text-center w-50">
		<p>
			@fact.Content

			Download available in:

			<a href="@fact.PdfFile">English</a>
		</p>
	</div>
}

@*<div class="text">
		<h3 class="display-4 text-center text-info">CDG Fact #2</h3>
		<hr class="text-info text-center w-50">
		<p>
			Did you know that…
			Congenital Disorders of Glycosylation (CDG) are caused by defects in the cellular machinery responsible for making, and altering sugars and attaching them to proteins and lipids. Sugars are essential for our cells and organs.

			Be sweet, help us raise awareness for these metabolic diseases CDG!

			Think Metabolic, Think CDG!

		</p>
	</div>
	<div class="text">
		<h3 class="display-4 text-center text-info">CDG Fact #3</h3>
		<hr class="text-info text-center w-50">
		<p>
			Did you know that…

			Congenital Disorders of Glycosylation (CDG) are one of the fastest growing group of metabolic disorders? There are over 130 different CDG types (which are forms/variations of the disease).

			Make sure you (and everyone you know) get the CDG Facts (right)!

			Think Metabolic, Think CDG!
		</p>
	</div>
	<div class="text">
		<h3 class="display-4 text-center text-info">CDG Fact #4</h3>
		<hr class="text-info text-center w-50">
		<p>
			Did you know that…

			Living with Congenital Disorders of Glycosylation (CDG) means that you face numerous challenges EVERY DAY? CDG children and adults often have many organs affected and their lives if often at risk. They have to do many therapies, and take medication or even undergo surgery to keep as healthy as possible.

			Think Metabolic, Think CDG!

			Download available in:
			@*<embed src="http://www.apcdg.com/uploads/4/1/1/9/41196831/metabolic_diseases_awareness_week_clinton.pdf" type="application/pdf" height="300px" width="100%" class="responsive">
			<a href="http://www.apcdg.com/uploads/4/1/1/9/41196831/metabolic_diseases_awareness_week_clinton.pdf">English</a>
		</p>
	</div>
	<div class="text">
		<h3 class="display-4 text-center text-info">CDG Fact #5</h3>
		<hr class="text-info text-center w-50">
		<p>
			Did you know that…

			The eyes are one of organs which is most frequently affected in CDG children and adults (and across the different CDG types)?
			Strabismus (crossed eyes), myopia (nearsightedness), cataracts or retinitis pigmentosa are some of the eye problems seen in CDG.
			But, many other organs and systems can be affected in CDG, such as the brain, heart, liver, immune system or the bones.

			Think Metabolic, Think CDG!
		</p>
	</div>
	<div class="text">
		<h3 class="display-4 text-center text-info">CDG Fact #6</h3>
		<hr class="text-info text-center w-50">
		<p>
			Did you know that…

			Congenital Disorders of Glycosylation (CDG) are such complicated and complex diseases that even siblings with the same condition can have very different clinical manifestations?

			That is yet another reason why CDG is so hard to diagnose – It can puzzle and deceive you (doctors, researchers and other healthcare professionals) in so many ways!

			So next time you find yourself thinking “This could be metabolic”, test for CDG!

			Think Metabolic, Think CDG!
		</p>
	</div>*@

