@model CDGBulgaria.Web.ViewComponents.UsersCountViewComponentViewModel

	<h5 class="text-info">
		As a stastics -  the number of the visitors of our web page untill now is:
		<span class="text-info font-size: 100px">
			@Model.UsersCount users.
		</span>
	</h5>



<h5 class="text-info">
	That's why we try to expand our activiity by prolviding more useful and specialized information for our followers.
</h5>