@model List<CDGBulgaria.Web.ViewModels.Article.ArticleViewModel>

@{
	ViewData["Title"] = "All";
	Layout = "~/Views/Shared/_Layout.cshtml";


}
<h3 class="text-primary text-center">All Articles</h3>
	<div class="articles" display="block">
		@for (int i = 0; i < Model.Count; i += 4)
		{
		<div class="articles d-flex my-5">
			@for (int j = i; j < i + 4; j++)
			{
				if (j < Model.Count)
				{

			<div class="article col-md-3">

				<hr class="hr-2 bg-primary">
				<h4 class="text-center text-danger">@Model[j].Title</h4>
				<p>
					@Model[j].Summary
				</p>

				<h6 class="text-info">Created by: @Model[j].AuthorFullName</h6>

				<p>@Model[j].CreatedOn</p>
				<div id="navigation-holder" class="mt-4 d-flex justify-content-around">

					<a href="/Articles/Details/@Model[j].Id" class="btn btn-primary text-white font-weight-bold">Details</a>
				</div>
				<hr class="hr-2 bg-primary">
			</div>
				

				}
				else
				{
					<div class="article col-md-2 empty">
					</div>
				}
			}
		</div>
		}
	</div>



