@using CDGBulgaria.Web.InputModels
@model CDGBulgaria.Web.InputModels.Fact.FactCreateInputModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center text-info">Create Fact</h2>

<hr class="hr-2 bg-primary mt-4 w-50">

<form class="mx-auto width w-50" asp-method="post" asp-area="Administration" asp-page="/Facts/Create" enctype="multipart/form-data">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="form-group text-info">
		<label asp-for="Content" class="control-label"></label>
		<textarea asp-for="Content" class="form-control" placeholder="Content..."></textarea>
		<span asp-validation-for="Content" class="text-danger"></span>
	</div>
	<div class="form-group text-info">
		<label asp-for="PdfFile" class="control-label"></label>
		<input asp-for="PdfFile" class="form-control" />
		<span asp-validation-for="PdfFile" class="text-danger"></span>
	</div>
	<hr class="hr-2 bg-primary mt-4">
	<div class="button-holder d-flex justify-content-center">
		<button type="submit" class="btn btn-primary">Create</button>
	</div>
</form>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


