
@using CDGBulgaria.Web.InputModels
@model CDGBulgaria.Web.InputModels.Event.EventCreateInputModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-info bg-primary">Create Event</h2>


<hr class="hr-2 bg-primary mt-4">
<div class="row">
	<div class="col-md-4">
		<form asp-method="post" asp-area="Administration" asp-page="/Events/Create" enctype="multipart/form-data">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Name" class="control-label">Name</label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Venue" class="control-label">Venue</label>
				<input asp-for="Venue" class="form-control" />
				<span asp-validation-for="Venue" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Start" class="control-label">Start</label>
				<input asp-for="Start" class="form-control" id="start" />
				<span asp-validation-for="Start" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="MoreInfo" class="control-label">MoreInfo</label>
				<input asp-for="MoreInfo" class="form-control" />
				<span asp-validation-for="MoreInfo" class="text-danger"></span>
			</div>
			<hr class="hr-2 bg-primary mt-4">
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>



<script>
    window.onload = () => {
        $('#start').datetimepicker({
            format: 'd.m.Y H:i',
            lang: 'en'
        });
    };
</script>
@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

