@model  CDGBulgaria.Web.ViewComponents.ArticlesUsersViewComponentViewModel

<h5>
	All colleagues, who have worked on the articles are:
</h5>
	@foreach (var user in Model.Users)
	{
		<span class="font-weight-bold" style="color:indigo; font-weight:500">@user, </span>	
	}
