
@{
	ViewData["Title"] = "AboutUs";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

	<div class="text">
		<h1 class="display-4 text-center text-info">Organization</h1>
		<hr class="text-dark text-center w-50">
		<p>We are a nonprofit-organization aimed at fostering breakthrough research that make an important difference in the lives of patients and their family members. Our  actions are performed at the national and international level.</p>
	</div>
	<div class="text">
		<h1 class="display-4 text-center text-info">Vision</h1>
		<hr class="text-dark text-center w-50">
		<p>
			The Bulgarian Association for CDG and other Rare Metabolic Diseases (APCDG-DMR) vision is based on the belief of its founder to achieve the hopes of patients and families who suffer from rare diseases, key stakeholders need:
			<ul>
				<li>
					To include patients and their representatives as full partners during the overall research and clinical program;
				</li>
				<li>
					To be patient-centric in their thinking.
				</li>

			</ul>

			This is a very promising and innovative approach whereby all parties combine their strength and expertise in a collaborative, dynamic and shared spirit.  That is the key driver to achieving transformative, potentially life-saving therapies that can revolutionize the clinical treatment of a disease and offer new life to patients and concerned families.
		</p>
	</div>
	<div class="text">
		<h1 class="display-4 text-center text-info">Mission</h1>
		<hr class="text-dark text-center w-50">
		<p>
			We strive to have a patient-focused drug development.
		</p>
	</div>

	<div class="text">
		<h1 class="display-4  text-center text-info">Commitment</h1>
		<hr class="text-dark text-center w-50">
		<p>We are committed to advancing progress by transforming the current research into meaningful research and drug development programs. Our major priority is to provide a complete and holistic view of the patient as a person.</p>
	</div>

	<div class="text">
		<h1 class="display-4 text-center text-info">Focus</h1>
		<hr class="text-dark text-center w-50">
		<p>Our focus is the inclusion of patients and patient advocacy groups as an essential component in the development of successfully clinical programs. The rare disease community is our inspiration.</p>
	</div>

<div class="text">
	<p>
		We strive to have a patient-focused drug development.
	</p>
</div>

<div class="text">
	<h1 class="display-4 text-center text-info">Core Values</h1>
	<hr class="text-dark text-center w-50">
	<p>Our core values reflect our capacity to define what needs to be done in order to boost development of therapies that will produce a significant benefit for patients and their family members.</p>

	<ul>
		<li><p>Patient-centric, we strive to improve quality of life for patients and family members.</p></li>
		<li><p>Mission-driven, we believe and recognize that patients and family members are the key drivers of our work.</p></li>
		<li><p>Perseverance, we are determined to respond to the needs of the often-neglected rare disease community.</p></li>
		<li>
			<p>
				Knowledge and creativity, to give voice to the medical, economic and social challenges associated with rare diseases and consequently, speed access to innovative treatments.
			</p>
		</li>
		<li><p>Fulfillment by making a difference. We are rewarded because our work is consistent with our beliefs and goals.</p></li>
		<li><p>Integrity to coordinate and encourage cooperation and collaboration with the highest ethical   standards engendering trust within the rare diseases community.</p></li>
		<li><p>Collaboration, by promoting partnership and mutual respect between main stakeholders to create a critical voice in shaping the efforts towards drug development.</p></li>
		<li><p>Passion for innovation and improvement by including patient support groups as active and   essential partners in clinical drug development. We are open to new ideas, and give targeted innovative solutions.</p></li>
	</ul>
</div>



