
@{
	ViewData["Title"] = "Help";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text">

	<h2 class="display-4 text-center text-info">Families</h2>
	<hr class="text-dark text-center w-50 text-info">

	<div>
		<ul>
			We are helping patients and family members by:

			<li>
				Leveraging resources and knowledge needed to achieve a better understanding of the disease.
			</li>
			<li>Promoting meaningful communications between patients, family members, researchers and physicians.</li>
			<li>Enhancing research by matching the research and drug development design with the needs of the community.</li>
			<li>Raising global awareness.</li>
			<li>
				Encouraging community building.
			</li>
			<li>
				Representing the community’s perspective and interests at conferences and relevant institutions.
			</li>


		</ul>
	</div>

	<h2 class="display-4 text-center text-info">
		Researchers
		​ & Clinians
	</h2>
	<hr class="text-dark text-center w-50">
	<ul>
		Our activities within Academia and Health care providers are focused at:
		<li>Unifying and maintaining a successful multi-stakeholder collaborative network.</li>
		<li>Matching the research design with the needs of CDG patients and the whole community.</li>
		<li>Representing research projects within European initiatives/programs (such as Epirare, Eurordis).</li>
		<li>Gathering and sharing information through attendance to medical congresses and programs.</li>
		<li>Transaction of scientific-medical information and data into high quality patient-friendly information.</li>
		<li>
			Promotion of a community-based outreach work, awareness, education and dissemination of information.
		</li>

	</ul>
</div>

<div>
	@await Component.InvokeAsync("UsersCount")
</div>



