@using CDGBulgaria.Web.ViewModels.Question
@model CDGBulgaria.Web.InputModels.Answer.AnswerCreateInputModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2 class="text-info text-center">Create Answer</h2>

<hr class="hr-2 bg-primary mt-4 text-center w-50">
<form class="mx-auto width w-50" asp-action="Create">
	<div asp-validation-summary="All" class="text-danger"></div>
	<div class="form-group mx-auto w-45">
		<div class="d-flex justify-content-center">
			<label asp-for="QuestionContent" class="text-primary h5">Question</label>
		</div>
		<select class="form-control text-primary" id="questionContent" asp-for="QuestionContent">
			<option selected disabled>--- Select Question ---</option>
			@foreach (var question in (IEnumerable<AnswerCreateQuestionViewModel>)this.ViewData["questions"])
			{
				
				<option value="@question.Content">@question.Content</option>

			}
		</select>
	</div>
	<div class="form-group mx-auto w-45">
		<div class="d-flex justify-content-center">
			<input type="hidden" asp-for="QuestionId" class="form-control" />
			<span asp-validation-for="QuestionId" class="text-danger"></span>
		</div>
	</div>
	<div class="form-group text-info">
		<label asp-for="Content" class="control-label"></label>
		<textarea asp-for="Content" class="form-control" placeholder="Content..."></textarea>
		<span asp-validation-for="Content" class="text-danger"></span>
	</div>
	<div class="form-group">
		<input type="hidden" asp-for="AuthorId" class="form-control" />
		<span asp-validation-for="AuthorId" class="text-danger"></span>
	</div>

	<hr class="hr-2 bg-primary mt-4">
	<div class="form-group d-flex justify-content-center">
		<input type="submit" value="Create" class="btn btn-primary" />
	</div>
</form>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


