@model IEnumerable<CDGBulgaria.Web.ViewModels.Event.EventViewModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
	ViewData["Title"] = "All";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center text-info">CDG Events</h1>

<hr class="hr-2 bg-primary w-50">

<table class="table">
	<thead>
		<tr class="row text-primary text-center font-weight-bold">
			<th class="col-md-4 h4">Event</th>
			<th class="col-md-2 h4">Venue</th>
			<th class="col-md-2 h4">Start</th>
			<th class="col-md-4 h4">MoreInfo</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr class="row text-center font-weight-bold">

				<td class="col-md-4 h5">@item.Name</td>
				<td class="col-md-2 h5">@item.Venue</td>
				<td class="col-md-2 h5">@item.Start.ToString("dd/MM/yyyy HH:mm")</td>
				<td class="col-md-4 h5"><a href="@item.MoreInfo">See here:</a></td>

			</tr>
		}
	</tbody>
</table>
