<h4 class="text-info">
	For more information connected with the given content on this page, please contact our leader of the Bulgarian association for CDG Diseases:
	<span class="text-danger">Maria Stancheva Ivanova, email: sindromecdg@gmail.com.</span>or read the following practical  guide in Bulgarian:
	<a href="~/images/practical_guide_-_bulgarian.compressed.pdf">Click</a>
</h4>

