<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - CDGBulgaria</title>



	<link rel="stylesheet" href="~/bootstrap.min.css" />
	@*<link rel="stylesheet" href="~/css/style.css" />*@
	<link rel="stylesheet" href="~/css/jquery.datetimepicker.css" />
	<link rel="stylesheet" href="~/css/site.css" />
	<script src="~/js/jquery-3.4.1.min.js"></script>
	<script src="~/js/popper.min.js"></script>
	<script src="~/js/bootstrap.min.js"></script>
	<script src="~/js/site.js"></script>

	<environment include="Development">
			<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
		</environment>
		<environment exclude="Development">
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
				  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
				  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
				  crossorigin="anonymous"
				  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
		</environment>
		<link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
	<header>
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				<h1 class="text-center">Welcome to</h1>
				<h1 class="text-center">CDGBulgaria - The Bulgarian Association</h1>
			</div>
		</div>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container">
				<div class="navbar-collapse collapse d-flex justify-content-between">
					<ul class="navbar-nav">
						<li class="nav-item">
							<div class="dropdown show">
								<a class="nav-link active dropdown-toggle" href="#"
								   id="dropdownMenuLink"
								   data-toggle="dropdown"
								   aria-haspopup="true"
								   aria-expanded="false">
									ABOUT US
								</a>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
									<a class="dropdown-item" href="/Home/About">What we do</a>
									<a class="dropdown-item" href="/Home/Help">Who we help</a>
								</div>
							</div>
						<li class="nav-item">
							<a class="nav-link text-dark" href="/Deseases/Index">CDG - DESEASES</a>
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
									aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
						</li>
						@if (!this.User.Identity.IsAuthenticated)
						{
							<li>
								<div class="container">
									<button type="button" class="btn btn-danger" onclick="MustBeLoggedInFunction()">Ask a Question</button>
								</div>
							</li>

							<li class="nav-item">
								<a class="nav-link text-dark" href="/">All Questions</a>
								<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
										aria-expanded="false" aria-label="Toggle navigation">
									<span class="navbar-toggler-icon"></span>
								</button>
							</li>
						}
						else
						{
							<li class="nav-item">
								<a class="nav-link text-dark" href="/">Ask a Question</a>
								<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
										aria-expanded="false" aria-label="Toggle navigation">
									<span class="navbar-toggler-icon"></span>
								</button>
							</li>
						}
						@if (this.User.Identity.IsAuthenticated)
						{
							<li class="nav-item">
								<div class="dropdown show">
									<a class="nav-link active dropdown-toggle" href="#"
									   id="dropdownMenuLink"
									   data-toggle="dropdown"
									   aria-haspopup="true"
									   aria-expanded="false">
										Events
									</a>

									<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
										<a class="dropdown-item" href="/Events/All">All Events</a>
										@if (this.User.IsInRole("Admin"))
										{
											<a class="dropdown-item" asp-area="Administration" asp-controller="Events" asp-action="Create">Create Event</a>
										}
									</div>
								</div>
							</li>
							<li class="nav-item">
								<div class="dropdown show">
									<a class="nav-link active dropdown-toggle" href="#"
									   id="dropdownMenuLink"
									   data-toggle="dropdown"
									   aria-haspopup="true"
									   aria-expanded="false">
										Articles
									</a>

									<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
										<a class="dropdown-item" href="/Articles/All">All Articles</a>
										@if (this.User.IsInRole("Admin"))
										{
											<a class="dropdown-item" href="/Articles/Create ">Create Article</a>
										}
									</div>
								</div>
							</li>
						}
					</ul>
					<ul class="navbar-nav">
						@if (!this.User.Identity.IsAuthenticated)
						{
							<li class="nav-item">
								<a class="nav-link text-dark" href="/Identity/Account/Login">Login</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-dark" href="/Identity/Account/Register">Register</a>
							</li>
						}
						else
						{
							<li class="nav-item">
								<a class="nav-link text-dark" href="/Identity/Account/Logout">Logout</a>
							</li>
						}
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="container">

		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer">
		<div class="container-fluid">
			<div class="text-white p-2 text-center">
				<h5 class="font-weight-normal mt-2 py-0">
					&copy; CopyRight Sanity Web Design Studios 2018. All rights
					reserved.
				</h5>
			</div>
		</div>
	</footer>

	<script>
		function MustBeLoggedInFunction() {
			alert("You must be logged in to ask a question.");
		}
	</script>
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>

	<script src="~/js/site.js" asp-append-version="true"></script>

	@RenderSection("Scripts", required: false)
</body>
</html>


